.contact-popup {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  transform: translate(-40%,10px);
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  padding: 10px;
  font-family: Arial, sans-serif; 
}

.contact-content ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}

.contact-content ul li {
  margin-bottom: 5px;
}

.contact-content ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease; 
}

.contact-content ul li a:hover {
  color: #1a73e8;
}