@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.upper-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.logo {
  height: 50px;
  margin-right: auto; 
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-left: 20px;
  transition: transform 0.3s ease;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}
.nav-list li::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Adjust this value to set the distance of the line from the text */
  left: 0;
  width: 100%; /* Make the line stretch the width of the <li> */
  height: 2px; /* Set the height of the line */
  background-color: #fff; /* Set the color of the line */
  transition: transform 0.3s ease;
  transform: scaleX(0); /* Initially hide the line */
}
.nav-list li:hover::after {
  transform: scaleX(1); /* Show the line on hover */
}


.nav-list li:hover {
  transform: scale(1.2);
  color: #ff0;
}
.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.nav-list li a:hover {
  color: #ff0;
}