@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.upper-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.logo {
  height: 50px;
  margin-right: auto; 
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0 60px;
  padding: 0;
}

.nav-list li {
  margin-left: 20px;
  transition: transform 0.3s ease;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
}
.nav-list li::after {
  content: '';
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 100%; 
  height: 2px; 
  background-color: #fff; 
  transition: transform 0.3s ease;
  transform: scaleX(0);
}
.nav-list li:hover::after {
  transform: scaleX(1); 
}


.nav-list li:hover {
  transform: scale(1.2);
  color: #ff0;
}
.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.nav-list li a:hover {
  color: #ff0;
}