@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.text{
    font-family: 'Cookie', cursive;
    font-size: 100px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 24px #fff, 0 0 32px #fff, 0 0 40px #fff, 0 0 48px #fff, 0 0 56px #fff; /* Neon glow effect with decreased intensity */
    position: fixed;
    top: -30px;
    left: 50px;
    width: 100%;
    padding: 10px 0;
    z-index: 9999;
}
.text-container {
    width: 60%; 
    margin-right: 20rem;
    position: relative; 
    top: 50px;
    bottom: auto; 
  }
  .welcome-message {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    text-align: bottom;
    margin: 10px 20px;
    color: #dccfdc;
    border-radius: 15px; 
    padding: 20px; 
    white-space: pre-wrap;
    height: 200px;
    overflow: auto;
  }